* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.rowmenu {
    z-index: 1000;
}

.campusnote .founded {
    font-size: 20px;
}

.aboutus {
    background-color: rgb(248, 252, 255);
    padding-bottom: 50px;
}


.aboutus .aboutgrid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin: 0px 150px;
    padding-top: 30px;

}

.aboutus .boxes {
    margin: 20px 0px;
    width: 450px;
    height: 450px;
    background-color: #e1e1e1;
}

.boxes h3 {
    border: 20px solid #4B5763;
    background-color: #4B5763;
    color: #FFF;
    font-weight: 300;
    padding-left: 20px;
    font-size: 20px;
}

.boxes p{
    margin: 30px 30px;
    font-size: 16px;
    opacity: 90%;
}

.boxes .aboutus {
    margin-left: 30px;
    background-color: #e1e1e1;
}

.boxes a {
    line-height: 2.0;
    color: #0C75A1;
}

.boxes ul {
    color: #698088;
}

