
.logincont .logintext{
    margin-top: 10px;
    border-left: 5px solid green;
    background-color:#E6EFC2;
    padding: 10px 0px;
    margin-bottom: 20px;
}

form a {
    display: inline-block;
    margin-top: 20px;
    font-size: 14px;
}

.logincont .logintxt{
    margin-top: 10px;
    border-left: 5px solid rgb(165, 0, 0);
    background-color:#E6EFC2;
    padding: 10px 0px;
    margin-bottom: 20px;
}